* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);
    overflow-x: hidden; /* Remove scroll horizontal */
    width: 100vw;
    height: 100vh;
}

/*CABECALHO*/

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100vw;
    height: auto;
}

.cabecalho-icone-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
#siteName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    margin: 0px;
}

.icone_cabecalho {
    padding: 15px; 
    background-color: #10b981; 
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgba(16,185,129,0.2), 0 4px 6px -4px rgba(16,185,129,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.texto_cabecalho {
    font-size: 2.5rem; 
    font-weight: 700; 
    color: #1e293b;   
    text-align: center;
    padding-bottom: 0px,
}
.texto_info {
    font-size: 1.2rem; 
    font-weight: 400; 
    color: #475569;   
    text-align: center;
}

#div_pai_Central{
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

/*CAM_INFOS*/
#cam_infos{
     display: grid;
     grid-template-columns: 65% 35%;
}

#back_camera{
     background-color: white;
     border-radius: 10px;
     box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
     width: 98%;
     margin-left: 0.5%;
     display: flex;
     flex-direction: column;
    }

#title_Cam {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-bottom: 7px;
    color: rgb(40, 53, 71);
    padding-left: 10px;
    align-items: center;
    font-size: 18px;
}
#icon_Cam{
    margin-right: 10px;
    align-items: center;
}
#text_Cam{ 
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
#bluetooth{
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
    gap: 5px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;

}
#text_WIFI{
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    text-align: center;
}
#camera{
    position: relative;
    width: 95%;
    height: 490px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: #c0c0c0;
    border-radius: 10px;
    margin-bottom: 20px;
}

#obj_detectado {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 15px;
    left: 15px;
    box-shadow: 0 2px 8px rgba(30, 41, 59, 0.12); /* sombra clean e suave */
}
#title_objdtc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    color:rgba(242, 255, 255, 1) 
}
#name_Objeto{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

#div_info_coletas{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

#status_Coleta, #deteccoes_Recentes{
    background-color: white;
    width: 100%;
    max-width: 100%; 
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    
}
.infoStatus{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    gap: 20px;
    margin-bottom: 15px;
}
.title_Status{
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.textStatus{
    color: rgb(53, 53, 53);
}
.oneInfo{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.numStatus{
    color: rgb(40, 53, 71);
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
}

#estadoCam{
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}
#infoCam{
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

.horas{
    margin-left: auto;
    font-size: 15px;
    color: rgb(128, 128, 128);
}
/*CAM_INFOS*/

/*MATERIAIS*/

#materiais{
    
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height:248px;
    width: 1280px;
    color:#FFFFFF;
    
}
.materiais{
    align-self: center;
    border-color: transparent;
    border-radius: 6px;
    height: 80%;
    width: 90%;
    display: flex;
}
#metal{
    border-color: transparent;
    background-color: #f2d600;
}
#papel{
    border-color: transparent;
    background-color: #2B7FFF;
}
#vidro{
    border-color: transparent;
    background-color: #00bc48;
}
#plastico{
    border-color: transparent;
    background-color: #ff4650;
}
.top-part{
    margin-top: 8%;
    height: 28px;
    width: 90%;
    
}
#cabecalho-materiais{
    margin-inline-start: 20px;
    height:40px;
    width: 90%;
    
}
.nome-material{
    
    width: 60%;
    padding: 0px;
    margin:0px;
    font-style: bold;
    font-size: 25px;
    font-family: var(--font-geist-sans);
}
.icone{
    font-size: 20px;
    width: 40px;
    height: 40px;
    
}
.unidades{
    padding: 0px;
    font-size: 18px;
    font-weight: lighter;
    margin-inline-start: 20px;
}
.numero-itens{
    margin-top: 5%;
    font-size: 30px;
    margin-inline-start: 20px;
}

#historico{
  margin-top: 20px;
  
}